
header {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #imag{
    width: 10%;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color:green;
    text-decoration: none;
  }
  
  .menu1 {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu1 li {
    position: relative;
  }
  
  .menu1 li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
  }
  
  .menu1 li:hover > a,
  .menu1 .dropdown:hover > a {
    background-color: #00b300;
    color: #fff;
  }
  
  .menu1 .dropdown ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #00b300;
    padding: 10px;
    z-index: 999;
  }
  
  .menu1 .dropdown:hover > ul {
    display: block;
  }
  
  .menu1 .dropdown ul li a {
    color: #fff;
  }
  
  .hamburger-menu {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .menu {
      display: none;
    }
    
    .hamburger-menu1 {
      display: block;
      cursor: pointer;
    }
    
    .bar {
      width: 25px;
      height: 3px;
      background-color: #333;
      margin: 5px 0;
      transition: 0.4s;
    }
    
    .change .bar:nth-child(1) {
      transform: rotate(-45deg) translate(-9px, 6px);
    }
    
    .change .bar:nth-child(2) {
      opacity: 0;
    }
    
    .change .bar:nth-child(3) {
      transform: rotate(45deg) translate(-8px, -8px);
    }
    
    .menu1-dropdown {
      display: none;
    }
    
    .menu1 li.dropdown {
      position: static;
    }
    
    .menu1 li.dropdown > a:after {
      content: '\25bc';
      display: inline-block;
      margin-left: 5px;
    }
    
  }  



  #imageContainer {
    overflow: hidden;
  }
  
  .carousel-item {
    position: relative;
  }
  
  .carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .pic{
    width: 100%;
  }
  
  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:black;
  }
  
  .carousel-caption h1 {
    /* font-size: 3rem; */
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .carousel-caption a {
    margin-top: 0.5rem;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 2rem;
    height: 2rem;
  }
  
  .carousel-control-prev {
    left: 0.5rem;
  }
  
  .carousel-control-next {
    right: 0.5rem;
  }



.btn-products {
  background-color: green;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 42px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-services {
  background-color: orange;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 42px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.buttons-container {
  display: flex;
  gap: 5%;
  justify-content: flex-start;
  margin-top: 1rem;
}
.carousel-control-prev,
.carousel-control-next {
  color: green;
} 

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: green;
}


@media (max-width: 767px) {
  .carousel-caption {
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
  }
  
  .carousel-caption h1 {
    font-size: 30px;
  }
  
  .buttons-container {
    flex-direction: column;
    align-items: center;
  }
  
  .btn-products,
  .btn-services {
    width: 80%;
    margin-top: 1rem;
  }
}
.image{
 

}
#imagez{
    width: 500px;
    height: 350px;
    margin-left: 50px;
    border-radius: 20px;

}
.order{
    margin-top: 10px;

}
#spane{
    
    width: 40px;
    margin-top: 2px;
}
#heading{
    margin-top: 0;
    color: green;
}
.allorder{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    background-color: white;
}
#comfort{
    margin-top: 50px;
    font-size: 20px;
}
#Honestly{
    margin-top: 50px;
    font-size: 20px;
}
#Place{
    margin-top: 50px;
    font-size: 20px;
}
.order {
    animation: slide-right 5s infinite; /* Adjust the duration and other animation properties as desired */
  }
  
  @keyframes slide-right {
    0% {
      transform: translateX(-15%); /* Start position off-screen to the left */
     } 
      100% {
        transform: translateX(10%);  /*End position off-screen to the right  */ 
     
      }  
  }
   @media (max-width:1200px){
    .allorder{
        display: grid;
        grid-template-columns: repeat(1,1fr);

    }

  } 
  @media (max-width:1200px){
    #imagez{
        width: 100%;
    }

  } 


 
.fruits{
    padding-left: 8%;
    background-color:rgb(233, 236, 217);

}
.avail{
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.avail span{
    color: rgb(138, 182, 72);
}
.fruity{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.fruity i{
    color: rgb(138, 182, 72);
    margin-left: 130px;
    position: relative;
    bottom: -10%;
    margin-top: 3px;


}
.fruity p{
    position: absolute;
    margin-left: 10px;
    margin-top:45px ;
    align-items: flex-end;
}
.fruity div{
    margin:30px 30px;
    /* background-color: antiquewhite; */
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    width: 60%;

}
.fruity div:hover{
    background-color:rgb(233, 236, 217);
    transform: scale(1.1);
}

.vegies{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin-top: 40px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}
.vegies i{
    color: rgb(138, 182, 72);
margin-left: 130px;
margin-top: 6px;
}
.vegies div{
    margin:30px 30px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    width: 60%;
}
.vegies div :hover{
    background-color:rgb(233, 236, 217);
    opacity: 0.8;
    transform: scale(1.1);
  
}
.vegies p{
    position: absolute;
    padding-left: 10px;
    margin-top:45px ;


}
#image{
    width: 80%;
    height: 80%;
}
#image1{
    width: 100%;
    height: 80%; 

}
#image2{
    width: 90%;
    height: 80%;
 
}
#image3{
    width: 80%;
    height: 80%; 

}


@media(max-width:800px){
    *{
        margin: 0;
        padding: 0;
    }
    .fruits{
        margin-left: 0%;
        overflow-x: hidden;
    }
    .fruity{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .vegies{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        /* gap: 10px; */
        margin-top: 40px;
        position: relative;
        transition: transform 0.3s ease-in-out;
    
     
    }
  
     
    }
    @media(min-width:768px)and(max-width:912) {
        .fruits{
            margin-left: 0%;
            overflow-x: hidden;
        }
        .fruity{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            /* gap: 10px; */
        }
        .vegies{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            /* gap: 10px; */
            margin-top: 40px;
            position: relative;
            transition: transform 0.3s ease-in-out;
        
         
        }

    }
    @media(min-width:390px)and(max-width:440px){
        .vegies i{
            color: rgb(138, 182, 72);
        margin-left: 4px;
        margin-top: 6px;
        }
        .fruity i{
            color: rgb(138, 182, 72);
            margin-right: 5px;
            position: relative;
            bottom: -10%;
            margin-top: 3px;
        
        
        }
    }
    @media(max-width:280px){
        .vegies{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            /* gap: 10px; */
            margin-top: 40px;
            position: relative;
            transition: transform 0.3s ease-in-out;
        
         
        }
        .fruity{
            display: grid;
            grid-template-columns: repeat(1,1fr);
        }
    }
   
    .vegies div{
        width: 45%;
    }
    .fruity div{
        width: 45%;

    }
    #image{
        width: 80%;
        height: 80%;
    }
    #image1{
        width: 100%;
        height: 80%; 
    
    }
    #image2{
        width: 90%;
        height: 80%;
     
    }
    #image3{
        width: 80%;
        height: 80%; 
    
    }
    .avail{
        text-align: left;
        font-size: 25px;
        margin-bottom: 30px;
        margin-top: 30px;
    }


.arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 18px solid rgb(114, 175, 45);
    float: right;
    margin-right: 20px;
 
  }
  .arrow:hover{
    border-left: 18px solid rgb(162, 172, 151);
    transform: scale(1.5);


  }
  





  
  